nav{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 0 5%;
    position: fixed;
    z-index: 999;
    color: #fff;
}

.nevbook{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 0 5%;
    z-index: 999;
    background-color: #ffffff;
    background-repeat: no-repeat;
    position: fixed;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.nevbook ul a{
    display: inline-block;
    margin: 0 15px;
    
}

.nevbook ul a{
    font-weight: 300;
    color: black;
    padding: 5px 10px; /* เพิ่ม padding เพื่อให้มีช่องว่างรอบข้อความ */
    transition: all 0.1s ease; /* เพิ่มการเปลี่ยนแปลงแบบ smooth */
    border: 1px solid transparent; /* เริ่มต้นไม่มีกรอบ */
    border-radius: 5px; /* ปรับขอบให้มน */
}

.nevlink{
    margin: 0 0px;
    
}

.nevlink:hover {
    color: rgb(255, 255, 255);
    border-color:none; /* เมื่อ hover ให้เพิ่มกรอบสีดำ */
    background-color: #58bfe2; /* เพิ่มสีพื้นหลังเมื่อ hover */
    text-decoration: none; /* ลบเส้นใต้ */
}

.loginButton {
    margin-left: auto;
}

.Userbutton{
    background-color: #ffffff;
    color: black;
    border-color: #1c95be;
}

.Userbutton:hover{
    background-color: #1c95be !important;
    color: #ffffff;
    border-color: #1c95be;
}